  /*Barra de navegacion */
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar {
    padding: 0.5rem;
    background-color: rgb(190, 207, 211);
    border-bottom: 5px solid #1b1b32;
  }

  .navbar-collapse {
    align-items: center;
    justify-content: space-between;
    font-family: 'Nova Square', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .navbar-brand > img{
    box-shadow: 3px 2px 4px 4px rgba(32,32,32,0.3);
    border-radius: 10%;
  }
  

    /* Hero Section */
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .hero {
    min-height: 450px;
    text-align: center;
    background-image: url("/Ressourses/images/AnyConv.com__OIP.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;   
  }

  .hero-principal {
    padding: 3rem;
  }
  .hero-imagen-desarrollador {
    width: 200px;
    height: 125px;
    border-radius: 50%;
    border: 4px solid rgb(8, 18, 35);
    margin-bottom: 0.5em;
    opacity: 0.85;
  }
  .hero-principal h1 {
    font-size: 2.5rem;
    font-family: 'Lobster', cursive, sans-serif;
    color: white;
    background-color: rgba(17, 16, 16, 0.8);
    border-radius: 2em;
    padding: 1rem;
    margin-bottom: 0.8em;
  }
  .hero-principal h3 {
    color: white;
    font-family: 'Lobster', sans-serif;
    background-color: rgba(17, 16, 16, 0.8);
    border-radius: 2em;
    padding: 1rem;
  }
  .navbar-brand h2 {
    color :#1b1b32;
    font-family: 'Lobster', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0.1em 3em;
    text-decoration: underline;
  }

                /* About me */

  
  .about-me {
    height:  500px;
    padding: 10px;
  }
  .about-me .container {
    max-width: 600px;
    text-align: center;
  }
  

                 /* Experiencia */

  .experiencia {
    padding: 40px 20px 60px 20px; 
  }
  
  .experiencia .columna{
    padding: 20px;
    border: 2px solid #8080804d;
    transition: all 0.3s ease-in;
    
  }
  .experiencia .columna:hover {
    background-color: #0a0a23;
    color: white;
  }
  
  
  .experiencia-titulo {
    font-size: 2rem;
    font-family: 'Nova Square', sans-serif;
    font-weight:800;
    margin: 10px 0;
    
  }
  .experiencia-parrafo {
    font-family: 'Nova Square', sans-serif;
  }
  
  .experiencia i {
    font-size: 1rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 7px 19px;
    border-radius: 50%;
    
  }
  .badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    font-family: 'Nova Square', sans-serif;
    letter-spacing: 1px;

  }
  .badges {
    margin: 25px;
  }
  /* SECCIONES GENERALES */
  .seccion-oscura {
    color: white;
    background-color: #1b1b32;
    border-radius: 10px;
    
  }

  .seccion-titulo {
    font-size: 2.3rem;
    padding: 15px 0;
    font-family: 'Nova Square';
    
  }
  .seccion-texto {
    font-size: 1.3rem;
    font-family: 'Lobster', sans-serif;
  }

  .seccion-clara {
    color: black;
    background-color: white;
    
  }

  .seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
  }


                /* Proyectos */
  .proyectos-recientes {
    padding: 40px;
  }

  .texto-negro {
    color: black;
    font-family: 'Nova Square', sans-serif;
    font-weight: bold;
  }

  
  .proyectos-recientes img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 30px;
    display: block;
    transition: all 0.2s ease;
  }
  
  .proyecto {
    position: relative;
    
  }

  .proyectos-contenedor {
    padding: 60px;
    margin: 40px;
  }

  .overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 5px solid rgb(53, 49, 49);
    padding: 10px, 30px;
    border-radius: 20px;
  }
  .overlay p {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0;
    color: rgb(53, 49, 49)

  }
  .proyecto:hover img {
    opacity: 0.3;
  }

  .proyecto:hover .overlay {
    opacity: 1;
  }
  
  

  .overlay .iconos-contenedor {
    display: flex;
    justify-content: space-evenly;
    
  }
  .overlay i {
    color: black;
    
  }
  #bilaptop6 {
    color: #0a0b0a;
  }
  #bilaptop5 {
    color: #bb14e0;
  }
  #bilaptop4 {
    color: #f59e07;
  }
  #bilaptop3 {
    color: #38721b;
  }
  #bilaptop2 {
    color: #eb1241;
  }
  #bilaptop1 {
    color: #04f9f5;
  }
  /* STYLEs BUTTONS */
  .btn-info {
    font-size: 1.1rem;
    margin: 20px;
    background-color: #bb14e0;
    color: aliceblue;
    
  }
  /* ARTICULOS */
  .articulos {
    min-height: 500px;
    padding: 30px;
  }
  .articulos .card {
    width: 80%;
    max-width: 600px;
    margin: 20px;

  }
  .articulos .card-header {
    font-weight: bold;
  }

  /* TESTIMONIOS */
  .testimonios {
    padding: 40px 40px 80px 40px;
  }

  .testimonios .carousel {
    max-width: 800px;
  }
  .carousel-item {
    height: 500px;
  }
  .carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .testimonio-imagen {
    height: 150px;
    width: 150px;
    border: 5px solid white;
    padding: 6px;
    margin: 10px 10px 20px 10px;
  }
  .testimonios {
    font-family: 'Share Tech Mono', sans-serif;
    background-image: url("/Ressourses/images/cubo-rubik-ia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    
  }

  .testimonios h2 {
    font-weight: 800;
    font-size: 2.5rem;
    color: antiquewhite;
  }
  .testimonios h3 {
    color:antiquewhite;
  }

  .testimonio-texto{
    max-width: 80%;
    font-size: 1.1rem;
    text-align: center;
    color:antiquewhite;
    font-weight:bolder;
    font-family: 'Share Tech Mono';
  }
  
  .testimonio-info{
    font-weight: 400;
    text-align: center;
    font-family: 'Share Tech Mono', sans-serif;
    color:white; 
  }

  .testimonio-info .cliente {
    margin-bottom: 5px;
    font-size: 1.2rem; 
    
  }
  .testimonio-info .cargo {
    
    font-size: 0.8em;
  }


  /* CONTACTO */

  .contacto .container {
    max-width: 1100px;
    min-height: 100px;
    padding: 20px;
  }
  .contacto .rectangulo {
    margin-top: -3rem;
    background-color: #be3eda;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 1px white;
  }
  .contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .contacto .description {
    
    font-size: 1.2rem;
  }
  



  









   /* FOOTER */

  footer {
    font-family: 'Lobster', cursive, sans-serif;
    text-align: end;
    padding: 2em;
    letter-spacing: 1px;
  }
  footer span {
    margin-left: 0.6em;
  }
  

  

 

  
  
  /* Media Queris */

  
  @media screen and (max-width: 400px) {
    .overlay p {
      font-size: 1em;
    }
    .overlay i {
      font-size: 1em;
    }
    .overlay {
      border: none;
    }
  }


  @media screen and (max-width: 767px) {
    .navbar-brand {
      display: none;
    }
  }

  @media screen and (min-width: 700px) {
    .hero-inferior-imagen {
      max-width: 600px;
    }
  }