  /*Barra de navegacion */
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar {
    padding: 0.5rem;
    background-color: rgb(190, 207, 211);
    border-bottom: 5px solid #1b1b32;
  }

  .navbar-collapse {
    align-items: center;
    justify-content: space-between;
    font-family: 'Nova Square', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .navbar-brand > img{
    box-shadow: 3px 2px 4px 4px rgba(32,32,32,0.3);
    border-radius: 10%;
  }
  

    /* Hero Section */
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .hero {
    min-height: 450px;
    text-align: center;
    background-image: url("/Ressourses/images/AnyConv.com__OIP.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;   
  }

  .hero-principal {
    padding: 3rem;
  }
  .hero-imagen-desarrollador {
    width: 200px;
    height: 125px;
    border-radius: 50%;
    border: 4px solid rgb(8, 18, 35);
    margin-bottom: 0.5em;
    opacity: 0.85;
  }
  .hero-principal h1 {
    font-size: 2.5rem;
    font-family: 'Lobster', cursive, sans-serif;
    color: white;
    background-color: rgba(17, 16, 16, 0.8);
    border-radius: 2em;
    padding: 1rem;
    margin-bottom: 0.8em;
  }
  .hero-principal h3 {
    color: white;
    font-family: 'Lobster', sans-serif;
    background-color: rgba(17, 16, 16, 0.8);
    border-radius: 2em;
    padding: 1rem;
  }
  .navbar-brand h2 {
    color :#1b1b32;
    font-family: 'Lobster', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0.1em 3em;
    text-decoration: underline;
  }

  /* About me */

  .seccion-oscura {
    color: white;
    background-color: #1b1b32;
    
  }
  .about-me {
    height:  500px;
    padding: 10px;
  }
  .about-me .container {
    max-width: 600px;
    text-align: center;
  }
  .seccion-titulo {
    font-size: 2.3rem;
    padding: 15px 0;
    font-family: 'Lobster', sans-serif;
  }
  .seccion-texto {
    font-size: 1.3rem;
    font-family: 'Lobster', sans-serif;
  }

  /* Experiencia */

  /*.experiencia {
    background-color: #7ade30;
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px 40px 60px 40px;
    
  }*/
  
  
  
  .seccion-clara {
    color: rgb(9, 9, 10);
    background-color: rgb(241, 239, 239);
    
  }
  .experiencia-titulo {
    font-size: rem;
    font-weight: bold;
    margin: 10px 0;
    
  }
  .experiencia i {
    font-size: 1rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 7px 19px;
    border-radius: 50%;
  }
  .badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
  }
  .badges {
    margin: 25px;
  }

  
  

  

 

  
  
  /* Media Queris */
  @media screen and (max-width: 767px) {
    .navbar-brand {
      display: none;
    }
  }

  @media screen and (min-width: 700px) {
    .hero-inferior-imagen {
      max-width: 600px;
    }
  }